<nav class="navbar">
  <!-- Logo -->
  <div class="navbar__brand">
    <img src="assets/icons/Logo.svg" alt="Logo" class="navbar__logo" />
  </div>

  <!-- Menú principal - Solo visible si está autenticado -->
  <ul class="navbar__menu" *ngIf="authService.isAuthenticated()">
    <li class="navbar__item">
      <a routerLink="/configuraciones-registradas" routerLinkActive="active">Configuraciones</a>
    </li>
    <li class="navbar__item">
      <a routerLink="/configuracion" routerLinkActive="active">Nueva Configuración</a>
    </li>
    <div class="perfil">
      <img src="assets/icons/Icon-User.svg" alt="Usuario" class="navbar__logo" />
      <button (click)="logout()" class="logout-btn">Cerrar Sesión</button>
    </div>
  </ul>
</nav>
